<template>
  <v-flex
    xs4
    offset-xs4
  >
    <v-card>
      <v-card-title class="headline">
        {{ $t('login') }}
      </v-card-title>
      <v-form ref="form" v-model="valid">
        <v-container grid-list-xs>
          <v-layout wrap row>
            <v-flex xs12 class="pb-3">
              <!--suppress CheckEmptyScriptTag -->
              <v-text-field
                v-model="form.email"
                label="Email "
                name="email"
                type="email"
                required
                :rules="[rules.required, rules.email, errors('email')]"
                @focus="dropError('email')"
              />
            </v-flex>
            <v-flex xs12 class="pb-3">
              <!--suppress CheckEmptyScriptTag -->
              <v-text-field
                v-model="form.password"
                label="Password "
                name="password"
                type="password"
                required
                :rules="[rules.required, errors('password')]"
              />
            </v-flex>
            <v-flex xs12>
              <v-checkbox
                v-model="remember"
                label="Remember me"
                hide-details
              />
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
      <v-card-actions class="px-3 pb-3">
        <v-btn
          color="primary"
          @click="login"
          id="login"
        >
          {{ $t('login') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
  import Form from 'vform'

  export default {
    middleware: 'guest',

    layout: 'basic',

    metaInfo() {
      return {title: this.$t('login')}
    },

    data: () => ({
      form: new Form({
        email: '',
        password: ''
      }),
      rules: {
        required: v => !!v || 'Field required.',
        email: v => /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(v) || 'Not valid email.'
      },
      valid: false,
      remember: false
    }),

    methods: {
      errors(field) {
        return this.form.errors.errors[field] || false
      },

      dropError(field) {
        this.form.errors.errors[field] = undefined
      },

      async login() {
        if (this.valid && this.$refs.form.validate()) {

          try {
            // Submit the form.
            const {data} = await this.form.post('/api/login')

            // Save the token.
            this.$store.dispatch('auth/saveToken', {
              token: data.token,
              remember: this.remember
            })

            // Fetch the user.
            await this.$store.dispatch('auth/fetchUser')

            // Redirect home.
            this.$router.push({name: 'home'})
          } catch (e) {
            if (e.response) {
              Object.keys(e.response.data.errors).forEach(key => {
                this.form.errors.errors[key] = this.form.errors.errors[key][0]
              })
            } else {
              console.error(e);
            }
          }
        }
      }
    }
  }
</script>
