<template>
  <v-app>

    <Navdrawer/>

    <Navbar/>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
import Navbar from "../components/Navbar";
import Navdrawer from "../components/Navdrawer";
export default {
  name: 'MainLayout',
  components: {Navdrawer, Navbar},
}
</script>
