<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-container grid-list-xl fluid class="pa-0">
    <v-layout wrap row>
      <v-flex xs12 md6>
        <options-table
          type="bread"
        />
      </v-flex>

      <v-flex xs12 md6>
        <options-table
          type="bread_size"
          :with-crud="false"
        />
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  import OptionsTable from "../components/OptionsTable";

  export default {
    name: "breads",
    components: {OptionsTable},
    middleware: ['auth', 'admin']
  }
</script>

<style scoped>

</style>
