<template>
  <options-table
    type="extra"
  />
</template>

<script>
  import OptionsTable from "../components/OptionsTable";

  export default {
    name: "extras",
    components: {OptionsTable},
    middleware: ['auth', 'admin']
  }
</script>

<style scoped>

</style>
