<template>
  <div>
    <v-card>
      <v-card-title
        class="grey lighten-4"
      >
        <span class="headline">
          Meal For Today
        </span>
        <v-spacer/>
        <v-btn
          color="primary"
          flat
          small
          @click="dialog = true"
        >
          New Order
        </v-btn>
      </v-card-title>
    </v-card>

    <v-container grid-list-xl fluid class="px-0">
      <v-layout wrap row>
        <v-flex xs12 sm6 md4>
          <options-table
            type="bread"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="taste"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="vegetable"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="sauce"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="extra"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog
      v-model="dialog"
      width="800"

    >
      <order-modal v-on:close="close"/>
    </v-dialog>
  </div>
</template>

<script>
  import OptionsTable from "../components/OptionsTable";
  import OrderModal from "../components/OrderModal";
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    middleware: 'auth',

    components: {OrderModal, OptionsTable},

    data: () => ({
      dialog: false
    }),

    computed: {
      ...mapGetters({
        orders: 'order/list',
        emptyModel: 'order/emptyModel'
      }),

    },

    watch: {
      orders() {
        this.dialog = false
      }
    },

    metaInfo() {
      return {title: this.$t('home')}
    },

    methods: {
      ...mapMutations({
        setOrder: 'order/SET_ORDER_MODEL',
      }),
      close() {
        this.setOrder(this.emptyModel)
        this.dialog = false
      }
    }
  }
</script>
