<template>
  <div>
    <v-card>
      <v-card-title
        class="headline grey lighten-4"
      >
        Meal For Today
      </v-card-title>
    </v-card>

    <v-container grid-list-xl fluid class="px-0">
      <v-layout wrap row>
        <v-flex xs12 sm6 md4>
          <options-table
            type="bread"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="bread_size"
            :with-crud="false"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="extra"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="vegetable"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="taste"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>

        <v-flex xs12 sm6 md4>
          <options-table
            type="sauce"
            :with-crud="false"
            :manage="true"
          />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import OptionsTable from "../components/OptionsTable";

  export default {
    components: {OptionsTable},
    middleware: ['auth', 'admin'],

    metaInfo() {
      return {title: this.$t('home')}
    }
  }
</script>
