<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-card>
      <v-card-title class="headline">
        Orders
      </v-card-title>

      <v-data-table
        :items="orders"
        :headers="headers"
        :pagination.sync="pagination"
        :rows-per-page-items="rowsPerPageItems"
        :expand="false"
        item-key="id"
      >
        <template v-slot:items="props">
          <tr @click="props.expanded = !props.expanded">
            <td>{{ props.item.id }}</td>
            <td>{{ props.item.status ? 'Open' : 'Closed' }}</td>
            <td>{{ props.item.created_at }}</td>
            <td>
              <v-rating
                v-model="props.item.rate"
                half-increments
                hover
                :readonly="props.item.rate > 0"
              />
            </td>
          </tr>
        </template>
        <template v-slot:expand="props">
          <v-card flat>
            <v-card-text>
              <div v-for="(item) in props.item.items">
                {{item.option.name}}: {{item.name}}
              </div>
            </v-card-text>
          </v-card>
        </template>
      </v-data-table>
    </v-card>
</template>

<script>
  import {mapGetters, mapActions, mapMutations} from 'vuex'
  import moment from "moment";
  import {differenceWith, isEqual} from "lodash";
  export default {
    name: "orders",

    middleware: ['auth'],

    data: () => ({
      orders: [],
      headers: [
        {
          text: 'Order #',
          value: 'id'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Created',
          value: 'created_at'
        },
        {
          text: 'Rate',
          value: 'rate'
        }
      ],
      pagination: {
        rowsPerPage: 25
      },
      rowsPerPageItems: [
        25, 50, 100,
        {"text": "$vuetify.dataIterator.rowsPerPageAll", "value": -1}
      ]
    }),

    computed: {
      ...mapGetters({
        orderState: 'order/list',
        emptyModel: 'order/emptyModel'
      })
    },

    watch: {
      orders: {
        handler(orderList) {
          const diff = differenceWith(orderList, this.orderState, isEqual);
          if (diff.length) {
            this.setRates(diff[0]);
            this.updateInList(diff[0]);
          }
        },
        deep: true
      }
    },

    async mounted() {
      await this.fetchUserOrders();

      this.orders = _.cloneDeep(this.orderState)
    },

    methods: {
      ...mapActions({
        fetchUserOrders: 'order/fetchUserOrders',
        setRates: 'order/setRates'
      }),

      ...mapMutations({
        updateInList: 'order/UPDATE_IN_LIST'
      }),

      formatDate(date) {
        moment(date).format('LL')
      }
    }
  }
</script>

<style scoped>

</style>
