<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-card>
    <v-card-title class="headline">
      Orders
    </v-card-title>

    <v-data-table
      :items="orders"
      :headers="headers"
      :pagination.sync="pagination"
      :rows-per-page-items="rowsPerPageItems"
      :expand="false"
    >
      <template v-slot:items="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.user.name }}</td>
          <td>{{ props.item.status ? 'Open' : 'Closed' }}</td>
          <td>{{ props.item.created_at }}</td>
          <td>
            <v-rating
              v-model="props.item.rate"
              half-increments
              readonly
            />
          </td>
        </tr>
      </template>
      <template v-slot:expand="props">
        <v-card flat>
          <v-card-text>
            <div v-for="(item) in props.item.items">
              {{item.option.name}}: {{item.name}}
            </div>
          </v-card-text>
        </v-card>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import moment from "moment";
  export default {
    name: "orders",

    middleware: ['auth'],

    data: () => ({
      orders: [],
      headers: [
        {
          text: 'Order #',
          value: 'id'
        },
        {
          text: 'User',
          value: 'user'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Created',
          value: 'created_at'
        },
        {
          text: 'Rate',
          value: 'rate'
        }
      ],
      pagination: {
        rowsPerPage: 25
      },
      rowsPerPageItems: [
        25, 50, 100,
        {"text": "$vuetify.dataIterator.rowsPerPageAll", "value": -1}
      ]
    }),

    computed: {
      ...mapGetters({
        orderState: 'order/list'
      })
    },

    watch: {

    },

    async mounted() {
      await this.fetchUserOrders();

      this.orders = _.cloneDeep(this.orderState)
    },

    methods: {
      ...mapActions({
        fetchUserOrders: 'order/fetchAll'
      }),

      formatDate(date) {
        moment(date).format('LL')
      }
    }
  }
</script>

<style scoped>
  tr {
    cursor: pointer;
  }
</style>
