<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-card>
    <v-card-title>
      <span class="headline">Users</span>
      <v-spacer/>
      <v-btn
        color="primary"
        flat
        @click="dialog = !dialog"
      >Add New
      </v-btn>
    </v-card-title>

    <v-data-table
      :items="users"
      :headers="headers"
      :pagination.sync="pagination"
      :rows-per-page-items="rowsPerPageItems"
    >
      <template v-slot:items="props">
        <tr>
          <td>{{ props.item.name }}</td>
          <td><a :href="`mailto:${ props.item.email }`">{{ props.item.email }}</a></td>
          <td>{{ props.item.orders ? props.item.orders.length : 0 }}</td>
          <td>
            <template v-if="props.item.code">
              {{userLink(props.item.code)}}
            </template>
            <template v-else>
              N/A
            </template>
          </td>
          <td style="width: 165px">
            <v-btn
              fab
              flat
              small
              @click="edit(props.item)"
            >
              <v-icon>edit</v-icon>
            </v-btn>
            <v-btn
              color="red"
              fab
              flat
              small
              @click="destroy(props.item)"
            >
              <v-icon>delete</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-3"
          primary-title
        >
          {{this.model.id ? 'Edit' : 'Add'}} User
        </v-card-title>

        <v-card-text>
          <v-form ref="form" v-model="valid" v-on:submit.prevent="save">
            <v-container grid-list-xs class="px-0">
              <v-layout wrap row>

                <v-flex xs12 class="pb-3">
                  <!--suppress CheckEmptyScriptTag -->
                  <v-text-field
                    v-model="form.name"
                    label="Name "
                    name="name"
                    type="text"
                    required
                    :rules="[rules.required, errors('name')]"
                  />
                </v-flex>

                <v-flex xs12 class="pb-3">
                  <!--suppress CheckEmptyScriptTag -->
                  <v-text-field
                    v-model="form.email"
                    label="Email "
                    name="email"
                    type="email"
                    required
                    :rules="[rules.required, rules.email, errors('email')]"
                    @focus="dropError('email')"
                  />
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="save"
          >
            Save
          </v-btn>
          <v-btn
            color="red"
            flat
            @click="close"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
  import {mapGetters, mapActions, mapMutations} from 'vuex'
  import {Form} from "vform";
  import swal from 'sweetalert2'

  export default {
    name: "users",

    middleware: ['auth', 'admin'],

    data: () => ({
      dialog: false,
      form: new Form({
        email: '',
        name: ''
      }),
      rules: {
        required: v => !!v || 'Field required.',
        email: v => /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(v) || 'Not valid email.'
      },
      valid: false,

      pagination: {
        rowsPerPage: 25
      },
      rowsPerPageItems: [
        25, 50, 100,
        {"text": "$vuetify.dataIterator.rowsPerPageAll", "value": -1}
      ]
    }),

    computed: {
      ...mapGetters({
        users: 'user/list',
        model: 'user/model',
        emptyModel: 'user/emptyModel',
        headers: 'user/headers'
      })
    },

    async mounted() {
      await this.fetchAll()
    },

    methods: {
      ...mapMutations({
        setModel: 'user/SET_MODEL'
      }),
      ...mapActions({
        fetchAll: 'user/fetchAll',
        create: 'user/create',
        update: 'user/update',
        destroyUser: 'user/destroyUser',
      }),
      userLink(code = '') {
        return window.location.origin + '/?code=' + code
      },

      errors(field) {
        return this.form.errors.errors[field] || false
      },

      dropError(field) {
        this.form.errors.errors[field] = undefined
      },

      edit(model) {
        this.setModel(model);
        this.setForm(model);

        this.dialog = true;
      },

      setForm(model) {
        this.form.name = model.name;
        this.form.email = model.email;
      },

      close() {
        this.$refs.form.reset();
        this.$refs.form.resetValidation();
        this.form.reset();
        Object.keys(this.form.errors.errors).forEach(field => this.form.errors.errors[field] = undefined);
        this.setModel(this.emptyModel)
        this.dialog = false;
      },

      async destroy(model) {

        const approve = await swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this user!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
        });

        if (approve.value) {
          this.destroyUser(model)
        }
      },

      async save() {
        if (this.valid && this.$refs.form.validate()) {
          try {
            if (this.model.id) {
              await this.update({
                id: this.model.id,
                payload: this.form.data()
              });
            } else {
              await this.create(this.form.data());
            }
            this.close();
          } catch (e) {
            if (e.response) {
              Object.keys(e.response.data.errors).forEach(key => {
                this.form.errors.errors[key] = this.form.errors.errors[key][0]
              })
            } else {
              console.error(e);
            }
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
