<template>
  <v-card>
    <v-card-title
      v-if="title"
      class="headline"
    >
      {{ title }}
    </v-card-title>
    <slot/>
  </v-card>
</template>

<script>
  export default {
    name: 'Card',

    props: {
      title: {type: String, default: null}
    }
  }
</script>
