<template>
  <v-toolbar
    app
    dark
    fixed
    clipped-left
  >
    <v-toolbar-side-icon
      v-if="user && isAdmin"
      @click.stop="drawer = !drawer"
    />
    <v-toolbar-title>{{ appName }}</v-toolbar-title>
    <v-spacer></v-spacer>

    <template v-if="!isAdmin && user">
      <v-btn
        id="meal"
        flat
        :to="{name: 'meal'}"
      >
        Meal
      </v-btn>
      <v-btn
        id="my-orders"
        flat
        :to="{name: 'orders-user'}"
      >
        My Orders
      </v-btn>
    </template>

    <template v-if="user">
      <v-btn
        id="logout"
        flat
        @click="logout"
      >
        Logout
      </v-btn>
    </template>
  </v-toolbar>
</template>

<script>
  import * as types from '../store/mutation-types'
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    data: () => ({
      appName: window.config.appName
    }),

    computed: {
      ...mapGetters({
        user: 'auth/user',
        isAdmin: 'auth/isAdmin',
        drawerState: 'main/drawer'
      }),
      drawer: {
        get() {
          return this.drawerState && this.isAdmin
        },
        set(payload) {
          this.setDrawer(payload)
        }
      }
    },

    methods: {
      ...mapMutations({
        setDrawer: `main/SET_DRAWER`
      }),
      async logout() {
        // Log out the user.
        await this.$store.dispatch('auth/logout')

        // Redirect to login.
        this.$router.push({name: 'login'})
      }
    }
  }
</script>

<style scoped>
</style>
