<template>
  <v-navigation-drawer
    v-model="drawer"
    fixed
    clipped
    app
  >
    <v-list dense>
      <v-list-tile
        :to="{name: 'home'}"
      >
        <v-list-tile-action>
          <fa icon="tachometer-alt"/>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            Home
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        :to="{name: 'orders'}"
      >
        <v-list-tile-action>
          <fa icon="list"/>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            Orders
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        :to="{name: 'bread'}"
      >
        <v-list-tile-action>
          <fa icon="bread-slice"/>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            Breads
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        :to="{name: 'extra'}"
      >
        <v-list-tile-action>
          <fa icon="bacon"/>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            Extras
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        :to="{name: 'taste'}"
      >
        <v-list-tile-action>
          <fa icon="hamburger"/>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            Tastes
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        :to="{name: 'vegetable'}"
      >
        <v-list-tile-action>
          <fa icon="carrot"/>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            Vegetables
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        :to="{name: 'sauce'}"
      >
        <v-list-tile-action>
          <fa icon="wine-bottle"/>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            Sauces
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        :to="{name: 'users'}"
      >
        <v-list-tile-action>
          <fa icon="user-friends"/>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            Users
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    name: "Navdrawer",

    computed: {
      ...mapGetters({
        drawerState: 'main/drawer',
        isAdmin: 'auth/isAdmin'
      }),

      drawer: {
        get() {
          return this.drawerState && this.isAdmin
        },
        set(payload) {
          this.setDrawer(payload)
        }
      }
    },

    methods: {
      ...mapMutations({
        setDrawer: `main/SET_DRAWER`
      })
    }
  }
</script>

<style scoped>

</style>
