<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-card>
    <v-card-title>
      <span class="headline">
        {{ option.name }}
      </span>
      <v-spacer/>
      <template v-if="isAdmin">

        <v-btn
          v-if="withCrud"
          color="primary"
          small
          flat
          @click="dialog = true"
        >
          Add New
        </v-btn>
        <v-btn
          v-else-if="manage"
          :to="{name: option.slug}"
          color="primary"
          small
          flat
        >
          Manage
        </v-btn>
      </template>
    </v-card-title>
    <v-data-table
      :items="variations"
      :headers="tableHeaders"
      :hide-actions="!withCrud"
      :hide-headers="!withCrud"
    >
      <template v-slot:items="props">
        <tr @click="addToOrder(props.item)">
          <td>{{ props.item.name }}</td>
          <td v-if="isAdmin">
            <v-switch
              v-model="props.item.available"
              @change="updateVariationAvailability(props.item)"
              hide-details
              :class="withCrud ? '' : 'right'"
            ></v-switch>
          </td>
          <td v-else-if="withOrder">
            <v-btn
              color="primary"
              class="right"
              flat
              fab
              small
            >
              <v-icon>{{ inOrder(props.item) ? 'check_circle' : 'check_circle_outline' }}</v-icon>
            </v-btn>
          </td>
          <td style="width: 165px" v-if="withCrud">
            <v-btn
              fab
              flat
              small
              @click="edit(props.item)"
            >
              <v-icon>edit</v-icon>
            </v-btn>
            <v-btn
              color="red"
              fab
              flat
              small
              @click="destroy(props.item)"
            >
              <v-icon>delete</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>

    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-3"
          primary-title
        >
          {{ this.optionVariantModel.id ? 'Edit' : 'Add' }} Option Variant
        </v-card-title>

        <v-card-text>
          <v-form ref="form" v-model="valid" v-on:submit.prevent="save">
            <v-container grid-list-xs class="px-0">
              <v-layout wrap row>

                <v-flex xs12 class="pb-3">
                  <!--suppress CheckEmptyScriptTag -->
                  <v-text-field
                    v-model="form.name"
                    label="Name "
                    name="name"
                    type="text"
                    required
                    :rules="[rules.required, errors('name')]"
                  />
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>

        <v-divider/>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="save"
          >
            Save
          </v-btn>
          <v-btn
            color="red"
            flat
            @click="close"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-card>
</template>

<script>
  import {mapGetters, mapMutations, mapActions} from 'vuex'
  import {Form} from "vform";
  import {lowerCase} from "lodash";
  import swal from 'sweetalert2'

  export default {
    name: "OptionsTable",

    props: {
      type: {
        type: String,
        required: true
      },
      manage: {
        type: Boolean,
        default: false,
      },
      withCrud: {
        type: Boolean,
        default: true
      },
      withOrder: {
        type: Boolean,
        default: false
      }
    },

    data: () => ({
      dialog: false,
      form: new Form({
        name: ''
      }),
      rules: {
        required: v => !!v || 'Field required.',
        email: v => /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(v) || 'Not valid email.'
      },
      valid: false,
    }),

    computed: {
      ...mapGetters({
        isAdmin: 'auth/isAdmin',
        options: 'option/list',
        optionVariantModel: 'option/optionVariantModel',
        emptyOptionVariantModel: 'option/emptyOptionVariantModel',
        order: 'order/model'
      }),

      option() {
        return this.options.length ? this.options.find(option => option.slug === this.type) : {}
      },

      variations() {
        if (this.isAdmin) {
          return this.option.variations
        } else {
          return this.option.variations.filter(variation => variation.available)
        }
      },

      tableHeaders() {
        const headers = [
          {
            text: 'Name',
            value: 'name'
          }
        ]

        if (this.isAdmin) {
          headers.push({
            text: 'Available',
            value: '',
            sortable: false,
            align: this.withCrud ? 'left' : 'right'
          })
        } else {
          headers.push({
            text: '',
            value: '',
            sortable: false,
            align: 'right'
          })
        }

        if (this.withCrud) {
          headers.push({
            text: 'Actions',
            value: '',
            sortable: false,
            align: 'center'
          })
        }

        return headers
      }
    },

    mounted() {
      if (!this.options.length) {
        this.fetchOptions()
      }
    },

    methods: {
      ...mapMutations({
        setModel: 'option/SET_OPTION_VARIANT_MODEL',
        setOrderOption: 'order/SET_ORDER_OPTION'
      }),
      ...mapActions({
        updateVariationAvailability: 'option/updateVariationAvailability',
        create: 'option/create',
        update: 'option/update',
        destroyOption: 'option/destroy',
        fetchOptions: 'option/fetchAll'
      }),

      errors(field) {
        return this.form.errors.errors[field] || false
      },

      dropError(field) {
        this.form.errors.errors[field] = undefined
      },

      edit(model) {
        this.setModel(model);
        this.setForm(model);

        this.dialog = true;
      },

      setForm(model) {
        this.form.name = model.name;
        this.form.slug = model.slug;
        this.form.available = model.available;
      },

      inOrder(option) {
        if (this.type === 'vegetable') {
          return this.order[this.type].includes(option.id)
        } else {
          return this.order[this.type] === option.id
        }
      },

      addToOrder(option) {
        if (this.withOrder) {
          let value = null;
          if (this.type === 'vegetable') {
            if (this.order[this.type].includes(option.id)) {
              value = this.order[this.type].filter(v => v !== option.id)
            } else {
              value = [
                ...this.order[this.type],
                option.id
              ]
            }
          } else {
            value = option.id
          }
          this.setOrderOption({
            type: this.type,
            value
          })
        }
      },

      close() {
        this.$refs.form.reset();
        this.$refs.form.resetValidation();
        this.form.reset();
        Object.keys(this.form.errors.errors).forEach(field => this.form.errors.errors[field] = undefined);
        this.setModel(this.emptyOptionVariantModel)
        this.dialog = false;
      },

      async destroy(model) {

        const approve = await swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
        });

        if (approve.value) {
          this.destroyOption(model)
        }
      },

      async save() {
        if (this.valid && this.$refs.form.validate()) {
          try {
            if (this.optionVariantModel.id) {
              await this.update({
                id: this.optionVariantModel.id,
                payload: {
                  ...this.form.data(),
                  slug: lowerCase(this.form.data().name).replace(' ', '_'),
                  available: this.optionVariantModel.available
                }
              });
            } else {
              await this.create({
                ...this.form.data(),
                option_id: this.options.find(o => o.slug === this.type).id,
                slug: lowerCase(this.form.data().name).replace(' ', '_'),
                available: true
              });
            }
            this.close();
          } catch (e) {
            if (e.response) {
              Object.keys(e.response.data.errors).forEach(key => {
                this.form.errors.errors[key] = this.form.errors.errors[key][0]
              })
            } else {
              console.error(e);
            }
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
