<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step editable :complete="e1 > 1" step="1">Bread</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step editable :complete="e1 > 2" step="2">Taste</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step editable :complete="e1 > 3" step="3">Vegetables</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step editable :complete="e1 > 4" step="4">Sauce</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step editable step="5">Extras</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content class="pa-3 pt-0" step="1">
        <v-card class="mb-3">
          <options-table
            type="bread"
            :with-crud="false"
            :with-order="true"
          />

          <options-table
            type="bread_size"
            :with-crud="false"
            :with-order="true"
          />

          <v-flex>
            <v-switch
              v-model="shouldBeBaked"
              label="Should be baked"
            />
          </v-flex>
        </v-card>

        <v-btn
          color="primary"
          @click="e1 = 2"
          :disabled="order.bread === null || order.bread_size === null"
        >
          Continue
        </v-btn>

        <v-btn flat @click="close">Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content class="pa-3 pt-0" step="2">
        <v-card class="mb-3">
          <options-table
            type="taste"
            :with-crud="false"
            :with-order="true"
          />
        </v-card>

        <v-btn
          color="primary"
          @click="e1 = 3"
          :disabled="order.taste === null"
        >
          Continue
        </v-btn>

        <v-btn flat @click="close">Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content class="pa-3 pt-0" step="3">
        <v-card class="mb-3">
          <options-table
            type="vegetable"
            :with-crud="false"
            :with-order="true"
          />
        </v-card>

        <v-btn
          color="primary"
          @click="e1 = 4"
          :disabled="order.vegetable.length === 0"
        >
          Continue
        </v-btn>

        <v-btn flat @click="close">Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content class="pa-3 pt-0" step="4">
        <v-card class="mb-3">
          <options-table
            type="sauce"
            :with-crud="false"
            :with-order="true"
          />
        </v-card>

        <v-btn
          color="primary"
          @click="e1 = 5"
          :disabled="order.sauce === null"
        >
          Continue
        </v-btn>

        <v-btn flat @click="close">Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content class="pa-3 pt-0" step="5">
        <v-card class="mb-3">
          <options-table
            type="extra"
            :with-crud="false"
            :with-order="true"
          />
        </v-card>

        <v-btn
          color="primary"
          @click="sendOrder"
          :disabled="order.extra === null"
        >
          Finish
        </v-btn>

        <v-btn flat @click="close">Cancel</v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
  import OptionsTable from "../components/OptionsTable";
  import {mapGetters, mapMutations, mapActions} from 'vuex'

  export default {
    name: "OrderModal",

    components: {OptionsTable},

    data: () => ({
      e1: 1
    }),

    computed: {
      ...mapGetters({
        order: 'order/model'
      }),
      shouldBeBaked: {
        get() { return this.order.should_be_baked},
        set(value) {
          this.setOrderOption({
            type: 'should_be_baked',
            value
          })
        }
      }
    },

    methods: {
      ...mapMutations({
        setOrderOption: 'order/SET_ORDER_OPTION'
      }),
      ...mapActions({
        sendOrder: 'order/send'
      }),

      close() {
        this.$emit('close')
      }
    }
  }
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>
